:root {
  --white: #FFFFFF;
  --pink: #F67599;
  --grey-800: #2A2A2A;
  --grey-700: #333333;
  --grey-400: #808080;
  --grey-300: #999999;
  --site-edge-margin: 15px;
  --main-font-family: "Noto Sans TC", sans-serif;
}

body {
  --background-color: #FFFFFF;
  --footer-background-color: #F6F7F8;
  --nav-icon: #2A2A2A;
  --social-icon: #808080;
  --main-text: #2A2A2A;
  --secondary-text: #808080;
  --active-color: lightblue;
  --undone-progress-border: #F0F0F5;
  --done-progress-border: #000000;
  --progress-current-color: #2A2A2A;
  --progress-done-color: #FFFFFF;
  --progress-undone-color: #AFB1BD;
  --pg-addr-color: #FFFFFF;
  --pg-addr-bg-color: #2A2A2A;
  --input-label: #808080;
  --input-border: #4A4A4A;
  --input-text: #999999;
  --select-arrow: #2A2A2A;
  --select-true: #2A2A2A;
  --select-false: #999999;
  --product-action-text: #000000;
  --product-action-bg: #F0F0F5;
  --left-arrow: #000000;
  background-color: var(--background-color);
  color: var(--main-text);
  font-family: var(--main-font-family);
  font-size: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

ul, ol, li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.container {
  margin: 0px 15px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mr-auto {
  margin-right: auto !important;
}

.cursor-point {
  cursor: pointer;
}

.col.col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.3333333333%;
          flex: 0 0 8.3333333333%;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  max-width: 8.3333333333%;
}
.col.col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.6666666667%;
          flex: 0 0 16.6666666667%;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  max-width: 16.6666666667%;
}
.col.col-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  max-width: 25%;
}
.col.col-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333333333%;
          flex: 0 0 33.3333333333%;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  max-width: 33.3333333333%;
}
.col.col-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.6666666667%;
          flex: 0 0 41.6666666667%;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  max-width: 41.6666666667%;
}
.col.col-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  max-width: 50%;
}
.col.col-7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.3333333333%;
          flex: 0 0 58.3333333333%;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  max-width: 58.3333333333%;
}
.col.col-8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.6666666667%;
          flex: 0 0 66.6666666667%;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  max-width: 66.6666666667%;
}
.col.col-9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  max-width: 75%;
}
.col.col-10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.3333333333%;
          flex: 0 0 83.3333333333%;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  max-width: 83.3333333333%;
}
.col.col-11 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.6666666667%;
          flex: 0 0 91.6666666667%;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  max-width: 91.6666666667%;
}
.col.col-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  max-width: 100%;
}

@media screen and (min-width: 749.5px) {
  .col.col-lg-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    max-width: 8.3333333333%;
  }
  .col.col-lg-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    max-width: 16.6666666667%;
  }
  .col.col-lg-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    max-width: 25%;
  }
  .col.col-lg-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    max-width: 33.3333333333%;
  }
  .col.col-lg-5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    max-width: 41.6666666667%;
  }
  .col.col-lg-6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    max-width: 50%;
  }
  .col.col-lg-7 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    max-width: 58.3333333333%;
  }
  .col.col-lg-8 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    max-width: 66.6666666667%;
  }
  .col.col-lg-9 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    max-width: 75%;
  }
  .col.col-lg-10 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    max-width: 83.3333333333%;
  }
  .col.col-lg-11 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    max-width: 91.6666666667%;
  }
  .col.col-lg-12 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    max-width: 100%;
  }
}
@media screen and (max-width: 749.5px) {
  .col.col-sm-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    max-width: 8.3333333333%;
  }
  .col.col-sm-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    max-width: 16.6666666667%;
  }
  .col.col-sm-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    max-width: 25%;
  }
  .col.col-sm-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    max-width: 33.3333333333%;
  }
  .col.col-sm-5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    max-width: 41.6666666667%;
  }
  .col.col-sm-6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    max-width: 50%;
  }
  .col.col-sm-7 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    max-width: 58.3333333333%;
  }
  .col.col-sm-8 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    max-width: 66.6666666667%;
  }
  .col.col-sm-9 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    max-width: 75%;
  }
  .col.col-sm-10 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    max-width: 83.3333333333%;
  }
  .col.col-sm-11 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    max-width: 91.6666666667%;
  }
  .col.col-sm-12 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    max-width: 100%;
  }
}
footer.site-footer {
  display: block;
  position: relative;
  bottom: 0px;
  margin-top: 120px;
  padding-left: var(--site-edge-margin);
  padding-right: var(--site-edge-margin);
  background-color: var(--footer-background-color);
}
footer.site-footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer.site-footer .footer-container .footer-logo-container {
  margin-top: 126px;
  margin-bottom: 127px;
}
footer.site-footer .footer-container .footer-logo-container svg {
  display: inline-block;
  width: 175.5px;
  height: 31px;
}
footer.site-footer .footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 64px;
}
footer.site-footer .footer-section .section-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  color: var(--main-text);
}
footer.site-footer .footer-section .section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 24px;
  color: var(--secondary-text);
}
footer.site-footer .footer-section .section-content > * {
  color: inherit;
}
footer.site-footer .footer-section .section-content .page-link {
  margin-bottom: 8px;
  font-weight: normal;
  line-height: 17px;
  text-decoration: none;
  cursor: pointer;
}
footer.site-footer .footer-section .section-content .tel-info {
  margin-bottom: 8px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  line-height: 16px;
}
footer.site-footer .footer-section .section-content .social-icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

@media screen and (max-width: 749.5px) {
  footer.site-footer {
    display: none;
  }
}/*# sourceMappingURL=footer.css.map */